@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*font-size: 100%;
	vertical-align: baseline;*/
	
}
html, body {height:100%;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;} /* tables still need 'cellspacing="0"' in the markup */
textarea {overflow:auto;}
body{ background-color:#8EF6B2}

.cerceve{ width: 105px; height: 105px; background: #6D6D00; display: flex; padding-left: 3px; }

.kutu div{width: 30px; height: 30px; text-align: center; background: #FFFFFF; border: 2px solid;  float:left;}
.kutu1 div{width: 30px; height: 30px; text-align: center; background: #FFFFFF; border: 2px solid; float:left;}
.kutu2 div{width: 30px; height: 30px; text-align: center; background: #FFFFFF; border: 2px solid;float: left; }
.sınır{width: 105px; height: 105px;}
.cerceve2{ width: 115px; height: 105px; background: #6D6D00; margin-left: 108px; margin-top: -105px; display: flex; }
.cerceve3{ width: 105px; height: 105px; background: #6D6D00; margin-left: 213px; margin-top: -105px; display: flex; }
#alan{ padding:200px 0px 0px 700px;} 
#yazı{ margin-left: 780px; margin-top: -350px; background: #FFFFFF; width: 150px; text-align: center; border-radius:10px;}











